/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #16161a;
    color: #fffffe;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Utilities */
.p-20 {
    padding: 20px;
}

/* Header */
.header {
    background: #72757e;
}

/* Main */
.search {
    display: flex;
    justify-content: center;
    background: #2cb67d;
}

.search label {
    text-transform: uppercase;
    padding-right: 10px;
}

.icons {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; 
}

.icon {
    flex-basis: calc(100% / 6 - 20px);
    margin: 20px 10px;
    background: #fffffe;
    color: #16161a;
    text-align: center;
}

.icon i {
    font-size: 30px;
    margin-bottom: 10px;
}

.icon .title {
    font-size: 14px;
    text-transform: uppercase;
}

